In [14]:
import pandas as pd
import os 
import numpy as np

ruta = os.path.abspath('../Datasets')

In [15]:
df_clientes = pd.read_csv(ruta+'/Clientes.csv', sep=';', encoding='utf-8')

In [16]:
#eliminando IdCompra
df_clientes.drop(['ID'],axis=1,inplace=True)
#filas duplicadas
df_clientes.duplicated().sum()

0

In [17]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2384 entries, 0 to 2383
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Provincia          2359 non-null   object
 1   Nombre_y_Apellido  2365 non-null   object
 2   Domicilio          2341 non-null   object
 3   Telefono           2353 non-null   object
 4   Edad               2384 non-null   int64
 5   Localidad          2359 non-null   object
 6   X                  2331 non-null   object
 7   Y                  2332 non-null   object
 8   col10              0 non-null      float64
dtypes: float64(1), int64(1), object(7)
memory usage: 167.8+ KB

Vemos que la columna col10 está vacía, para no llenar nuestra base de datos con columnas vacía procedremos a eliminarla. 
A la vez crearemos una función que elimine todas las columnas vacías que existan en la tabla.

In [18]:
def eliminar_columnas_vacías(df):
    #eliminando las columnas vacias
    column_drop = [column for column in df if df[column].isna().sum() == df.shape[0]]
    df.drop(column_drop, axis=1, inplace=True)
    return df

In [19]:
df_clientes = eliminar_columnas_vacías(df_clientes)
#renombrando columnas
df_clientes.rename({'Nombre_y_Apellido': 'Nombre_Apellido', 'X':'Longitud', 'Y':'Latitud'}, axis=1, inplace=True)
df_clientes.head(4)

,Provincia,Nombre_Apellido,Domicilio,Telefono,Edad,Localidad,Longitud,Latitud
0,Buenos Aires,HEBER JONI SANTANA,LAS HERAS Y BAT. 24 DE FEBRERO 4150 RINCON DE...,42-5161,58,LOMA VERDE,"-58,81850307","-34,30997088"
1,Buenos Aires,ANA SAPRIZA,PUEYRREDON Y DUPUY RUTA3 KM 52.500 S/N BÂº LO...,49-7578,61,SANTA ROSA,"-58,73073751","-34,93908311"
2,Buenos Aires,FERNANDO LUIS SARALEGUI,CALDERON DE LA BARCA 498,49-3435,15,TORRES,"-59,12794068","-34,43082199"
3,Buenos Aires,MANUELA SARASOLA,"RUTA 36 KM 45, 500 S/N EL PELIGRO",49-2883,29,RUTA SOL,"-58,14393954","-34,92052706"

## Valores Nulos

In [20]:
#capturando los valores nulos por columna
def valor_nulo(e):
    diccionario = {}
    for column in e.columns:
        val_nul = e[column].isna().sum()
        diccionario[column] = int(val_nul)

    return diccionario

In [21]:
nulo = valor_nulo(df_clientes)
nulo = [[key, nulo[key]] for key in nulo.keys() if nulo[key] > 0]
nulo

[['Provincia', 25],
 ['Nombre_Apellido', 19],
 ['Domicilio', 43],
 ['Telefono', 31],
 ['Localidad', 25],
 ['Longitud', 53],
 ['Latitud', 52]]

In [22]:
#Reemplazamos los valores nulos
df_clientes.fillna({'Provincia':'Sin Dato', 'Nombre_Apellido':'Sin Dato',
                    'Domicilio':'sin Dato', 'Telefono':'Sin Dato',
                    'Localidad':'Sin dato', 'Longitud':'0', 'Latitud':'0'}, inplace=True)

In [25]:
#reemplazo de coma a punto decimal
df_clientes['Longitud'] = df_clientes['Longitud'].str.replace(",", ".")
df_clientes['Latitud'] = df_clientes['Latitud'].str.replace(",", ".")

## Normalizando

In [84]:
df_clientes['Provincia'] = df_clientes['Provincia'].str.title()
df_clientes['Nombre_Apellido'] = df_clientes['Nombre_Apellido'].str.title()
df_clientes['Domicilio'] = df_clientes['Domicilio'].str.capitalize()
df_clientes['Localidad'] = df_clientes['Localidad'].str.title()

In [85]:
df_clientes['Provincia'] = df_clientes['Provincia'].str.replace("Ciudad De Buenos Aires", "Buenos Aires")