In [1]:
import pandas as pd
import os 

ruta = os.path.abspath('../Datasets')

In [3]:
df_gasto = pd.read_csv(ruta+'/Gasto.csv', sep=',', encoding='utf-8')

In [4]:
df_gasto.head(3)

   IdGasto  IdSucursal  IdTipoGasto       Fecha    Monto
0        1          18            1  2015-01-01  1164.90
1        2          18            2  2015-01-01   317.02
2        3          18            3  2015-01-01   118.89

## Filas Duplicadas y eliminación de indice

In [6]:
#eliminando IdVenta
df_gasto.drop(['IdGasto'],axis=1,inplace=True)
#filas duplicadas
df_gasto.duplicated().sum()

0

## Detección de outliers

In [10]:
#retornando los valores atipicos por columna
def outlier(e):
    diccionario ={}
    for column in e.columns:
        if e[column].dtype != 'object':
            Q1 = e[column].describe()['25%']
            Q3 = e[column].describe()['75%']

            IQR = Q3 -Q1
            minimo = Q1 - 1.5 * IQR
            maximo = Q3 + 1.5 * IQR

            upper =[e[column][i] for i in range(e.shape[0]) if e[column][i] >= maximo] 
            lower =[e[column][i] for i in range(e.shape[0]) if e[column][i] <= minimo] 
            outl = lower + upper
            diccionario[column] = len(outl) 
    return diccionario

In [11]:
outlier = outlier(df_gasto)
outlier = [[key, outlier[key]] for key in outlier.keys() if outlier[key] > 0]
outlier

[]

## Detección de Valores Nulos

In [12]:
#capturando los valores nulos por columna
def valor_nulo(e):
    diccionario = {}
    for column in e.columns:
        val_nul = e[column].isna().sum()
        diccionario[column] = int(val_nul)

    return diccionario

In [13]:
nulo = valor_nulo(df_gasto)
nulo = [[key, nulo[key]] for key in nulo.keys() if nulo[key] > 0]
nulo

[]

No se ha encontrado valores atipicos ni nulos.